.flashy {
  text-align: center;
  color: red;
  font-style: italic;
}

.best {
  color: green;
  font-style: italic;
}

img {
  width: 400px;
  margin-left: 750px;
  margin-right: 600px;
}

h2{
  text-align: center;
}